.top-album {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  position: relative;
  z-index: 0;
  margin: 0;
}
.top-box-image {
  width: 32.33%;
}
.display-image{
    width: 100%;
  height: 40vh;
  margin: 0 0.5% 2vh 0.5%;
  position: relative;
}
.bottom-album {
  width: 100%;
  height: 40vh;
  margin: 3% 0%;
  object-fit: cover;
  position: relative;
}
.bottom-box-image {
  width: 49.25%;
}
.album-image{
    width:32.333%;
    
}
.display-image:hover .image-hover {
    z-index: 111;
  }
@media screen and(max-width:767px) {
    .display-image{
        margin:0 0 2vh 0;
    }
    .album-image{
        width: 100%;
    }
  .top-box-image,
  .bottom-box-image {
    width: 100% !important;
    padding-top: 2vh;
  }
  .bottom-album {
    margin: 0 !important;
  }
}
