@font-face {
  font-family: "Andes";
  src: url("font.otf");
  font-style: normal;
  font-weight: bolder;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Andes", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* page setting*/
.page-wrapper {
  background: linear-gradient(
    165deg,
    rgba(205, 240, 234, 1) 0%,
    rgba(190, 174, 226, 1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glass {
  background: linear-gradient(
    165deg,
    rgba(249, 249, 249, 0.2) 0%,
    rgba(249, 249, 249, 0.3) 100%
  );
  height: 80vh;
  width: 90%;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(190, 174, 226, 0.4);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.page {
  padding-left: 5px;
  height: 80%;
  overflow-y: scroll;
  width: 100%;
}

.page-title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.row {
  --bs-gutter-x: unset !important;
  --bs-gutter-y: unset !important;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    165deg,
    rgba(190, 174, 226, 0.8) 0%,
    rgba(190, 174, 226, 0.8) 100%
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(190, 174, 226, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    165deg,
    rgba(205, 240, 234, 1) 0%,
    rgba(249, 249, 249, 1) 100%
  );
}
.page-padding {
  font-size: 1rem;
  margin: 3%;
  text-align: justify;
}
.image-padding {
  margin: 3% 2.5%;
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.image-border {
  border-radius: 1rem;
}
.image-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #f9f9f9;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  z-index: 112;
}
.image-link {
  position: relative;
}
.image-hover {
  border-radius: 1rem;

  background: linear-gradient(
    165deg,
    rgba(249, 249, 249, 0.2) 0%,
    rgba(249, 249, 249, 0.3) 100%
  );
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 40vh;
  width: 100%;
  position: absolute;

  z-index: -2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(190, 174, 226, 0.4);
}

.image-link:hover .image-hover {
  z-index: 111;
}
.page-function {
  display: flex;
  padding: 0 0.5%;
  z-index: 112;
  width: 100%;
  justify-content: space-between;
}
/* utility */
button {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  color: #26222d;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    165deg,
    rgba(249, 249, 249, 0.4) 0%,
    rgba(249, 249, 249, 0.4) 100%
  );
  border-radius: 4px;
}
button:hover {
  -webkit-animation: fillin 0.1s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fillin 0.1s forwards; /* Firefox < 16 */
  -ms-animation: fillin 0.1s forwards; /* Internet Explorer */
  -o-animation: fillin 0.1s forwards; /* Opera < 12.1 */
  animation: fillin 0.1s forwards;
}
@keyframes fillin {
  0% {
    background-color: transparent;
  }
  25% {
    background: linear-gradient(
      165deg,
      rgba(249, 249, 249, 0.4) 0%,
      rgba(249, 249, 249, 0.4) 100%
    );
  }
  50% {
    background: linear-gradient(
      165deg,
      rgba(249, 249, 249, 0.5) 0%,
      rgba(249, 249, 249, 0.6) 100%
    );
  }
  100% {
    background: linear-gradient(
      165deg,
      rgba(249, 249, 249, 0.6) 0%,
      rgba(249, 249, 249, 0.6) 100%
    );
  }
  100% {
    background: linear-gradient(
      165deg,
      rgba(249, 249, 249, 0.7) 0%,
      rgba(249, 249, 249, 0.7) 100%
    );
  }
}

/* utility */
/* Responsive */
@media screen and(max-width:991px) {
  .page-function{
    flex-direction: column;
    gap:10px;
  }
  .glass {
    height: 95vh !important;
  }
}
@media screen and(min-width:768px) and(max-width:991px) {
  .main {
    height: 95vh;
  }
}
@media screen and(max-width:767px) {
  .image-padding {
    margin: 3% !important;
  }
  .main {
    height: calc(95vh - 40px) !important;
  }
  .box-wrapper {
    flex-direction: column !important;
  }
}

/* Responsive */
