.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.pretty-lady {
  width: 25vh;
  height: 25vh;
  object-fit: cover;

  margin: 6vh 0 6vh 0;
  position: relative;
}
.portrait-border {
  object-position: 10% 10%;
  border-radius: 50%;
}
.title {
  color: #26222d;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  
}
@media screen and(max-width:767px) and(orientation:landscape){
  .title{
    margin:0 !important;
  }
}
@media screen and(max-width:767px) and(orientation:portrait){
  .title{
    margin:0 3%;
  }
}